/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
    --bg-color--dark: #0b192f;
    --bg-color--header: #024161;
    --link: #fff;
    --link--hover: #1f52a4;
    --bg-footer-color: #024161;
  }
  
  body {    
    margin: 0 2.7%;
    background-color: #0b192f;  
    color: #fff;
    font-family: roboto; 
    font-weight: 100;   
  }
  .post-1 {
      background: #9d27b0;
  }
  .post-2 {
      background: #9bb800;
  }
  .post-3 {
      background: #ed5120;
  }
  .post-4 {
      background: #9d27b0;
  }
.post-5 {
      background: #2d95bb;
}

/* Your styles go here */

img {
    max-width: 100%;  
    display: block;
}

.header {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between;
    height: 47vw;
    margin-bottom: 5.5%;
    background-color: #024161;  
}
.site-title-span {
    color: #a36;
}
nav {
    display: none;
    
}
.nav-icon {  
    margin-top: 1.4rem;
    font-size: 5vw;  
}
.site-title {
    margin-top: 0;  
  margin-bottom: 13.2%;  
  font-size: 2rem;
  font-weight: 200;
}

@media (min-width: 769px) {
    .nav-icon {
        display: none;
    }
    nav {
        display: block;       
    }
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 5rem;
    }
    .site-title {
        margin-bottom: 0;
        margin-right: 28vw;
        
    }
    .nav-list {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        
    }
    .list-item {
        float: left;
        height: 100%;
        
    }
    .list-item a {
        display: block;
        padding: 1.85rem 1.5rem;
        color: #fff;
        text-decoration: none;
    }
    .list-item a:hover {
        background-color: #1f52a4 ;
    }
}

.header-story {
    height: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    margin-bottom: 2rem;    
    background-image: url("../img/post0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        
  }
  .header-story-heading{
    width: 82%;
    padding-left: 2rem;    
    font-size: 3vw;
    font-weight: 300;
  }
  .header-story-description {
    width: 82%;  
    padding-left: 2rem;
    font-size: 2vw;
    opacity: .6;
    
  }

.post-container {
    display: flex;
    justify-content: flex-end ;
}
.post-content {
    width: 77%;
}
.post-date {
    width: 13%;
}

 .post-header {
    margin-bottom: 0;
    font-size: 3.3rem;
    font-weight: 100;
}
.post-text {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: .7;
}
.post-date {
    margin-top: 1.2rem;
    font-size: 3rem;
    opacity: 0.3;
}
.post-date span {
    font-size: 1.5rem;
    text-align: center;    
}
.news {    
    background-color: #fff;
    color: #000;
}
.news-content {   
    width: 85%;
    margin-left: 2rem;     
  }
.news-header {   
    margin: 0;
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
}
.news-text {
    margin-bottom: 2rem;
    font-size: .9rem;
    font-weight: 300;
    white-space: pre-line;
}
footer {
    margin-top: 1rem;
    font-size: .9rem;
    opacity: .4;
    background-color: #024161;
    text-align: center;
}
.copyright {
    padding-top: 1rem;
}
.copyright p,
.right-info p
 {
    margin: 0;
}


@media  (min-width: 481px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    main {
        width: 65%;
    }
    aside {
        width: 32%;
    }
    .news-content {   
        width: 70%;
        margin-left: 1.5rem;     
      }
      .news-header {   
        margin: 0;
        padding-top: 1rem;
        font-size: 1.1rem;        
        white-space: pre-line;
    }
    .news-text {
        margin-bottom: 2rem;
        font-size: .6rem;         
    }
}
