$bodyBackgroundColor: white;
$headerImg: "../img/m-h-day.jpg";
$underlineColor: #14a0c7;
$buttonColor: #7a0;
$cardBgColor: #21232e;
$gradientColorStart: #679709;
$gradientColorEnd: #2e5cd3;
$footerColor: #21232e;
$font: (
 sspro: 'Source Sans Pro',
 hind: 'Hind', 
 fresca: 'Fresca',
);