$bodyBackgroundColor: #21232e;
$headerImg: "../img/m-h-night.jpg";
$underlineColor: #ff4e33;
$buttonColor: #e3ac00;
$cardBgColor: #3b3f50;
$gradientColorStart: #e1a902;
$gradientColorEnd: #922c52;
$footerColor: #3b3f50;
$font: (
 sspro: 'Source Sans Pro',
 hind: 'Hind', 
 fresca: 'Fresca',
);